*{
    font-family: 'Roboto Slab', serif;
}
body{
    margin: 0%;    
    background-color: #F0FFFF;
}
header{
    width: 100%;
    height: 8%;
}
.contenedor{
    width: 100%;
    height: 100%;
    background-color: #A9C9E9;
    border-radius: 5px;
}
.menu{
    width: 100%;
    height: 100%;
    display: inline-flex;
}
.menu-foto{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.menu-contenedor{
    width: 90%;
    height: 100%;
    display: flex;          
}
.menu-lista{
    width: 100%;
    height: 100%;
    list-style: none;
    display: inline-flex;    
    justify-content: space-around;
    align-items: center;
    margin: 0%;    
    font-size: 1.2em;
    font-weight: bold;
}
.menu-lista li{
    margin-right: 3%;      
}

.menu-lista li a{    
    text-decoration: none; 
    color: black;
    padding: 0.5em;
    text-align: center;
    border-radius: 100px;
    width: 100%;
}
.juntos:hover{
    background-color: black;
    color: white;    
}
.unico:hover{
    background-color: #E54A4A;
    color: white;    
}
.titulo{
    background-color: black;
    width: 100%;
    height: 15%;
    
}
h1{
    margin: 0%;
    padding: 0%;
    text-align: center;
    color: white;
    font-size: 4em;
}
.intro{
    display: inline-flex;
    padding-right: 3%;
    padding-left: 3%;
    justify-content: space-around;
    margin-top: 1%;
}
.body-intro{
    width: 40%;
    height: auto;      
    padding-right: 1em;
    padding-left: 1em;    
    font-size: 1.6em;
    text-align: center;
}
.body-foto{
    width: 25%;
    height: 100%;
}
.fotos{   
    width: 100%;
    height: auto;
    border-radius: 1em;
}
.contenedor-item{
    text-align: center;
    width: 100%;
    height: auto;
}
.pregunta{
    font-size: 2.5em;
    font-weight: bold;
}
.items{
    display: inline-flex;
    width:100%;
    height: auto;
    justify-content: center;
    
}
.items-list{
    width: 25%;
    height: auto;
    margin: 1.5em;
    padding: 1.5em;
    padding-bottom: 0%;
    border: 0.3em solid #A9C9E9;
    margin-top: 0%;
}
.items-list h4{
    font-size: 2em;
    margin-top: 0%;
}
.items-list p{
    font-size: 1em;
}
.icono {
    font-size: 7em;
}
.icono:hover{
    transform: scale(1.2);
    transition-duration: 3s;
}
footer{
    width: 100%;
    height: 7%;
    margin: 0%;
    padding: 0%;   
}
.pie{
    background-color: black;
    display: inline-flex;
    width: 100%;
    height: 100%;    
    border-top: 0.2em solid black;
    color: grey;
}
.pie-1{
    width: 40%;
    height: auto;
    display: inline-flex;
    justify-content: space-around;
    margin: 0%;
    align-items: center;
}
.pie-1 p a{
    color: gray;
}
.pie-2{
    width:40%;
    height: auto;
    display: inline-flex;
    justify-content: space-around;
    margin: 0%;
    align-items: center;
}
.pie-3{
    width: 25%;
    height: auto;
    text-align: center;
    align-items: center;
}
.pie-3 a {
    color: gray;
}
.red{
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.1em;
}
